.bookContainer {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 20px;
  cursor: pointer;
  place-items: center;
  width: 250px;
  height: 378px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 180px;
}
.iconContainer {
  position: relative;
  top: 65px;
  left: 100px;
  z-index: 4;
  /* background-color: red; */
  display: flex;
  justify-content: center;
}

.iconContainer svg {
  fill: yellow;
}

.iconText {
  /* background-color: blue; */
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.bookImgBox {
  background-color: transparent;
  position: relative;
  width: 100%;
  padding-top: 151%;
  overflow: hidden;
}
.bookContainer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  perspective: 400px;
}

.bookContainer a {
  text-align: center;
}

.bookInfoBox {
  background-color: transparent;
  height: 100px;
  display: grid;
  align-items: center;
}
.bookInfoBox h2 {
  word-wrap: break-word;
  position: relative;
  margin-top: 2px;
  margin-bottom: 2px;
  color: black;
  font-size: 22px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bookInfoBox h3 {
  color: var(--thick-grey);
  font-size: 18px;
  margin-top: 4px;
  margin-bottom: 2px;
  position: relative;
  display: flex;
  height: 30px;

  justify-content: center;
  align-items: center;
}

.bookInfoBox button {
  margin-top: 6px;
  margin-bottom: 6px;
  width: 200px;
  height: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bookDescription {
  position: absolute;

  background-color: greenyellow;
  width: 100px;
  height: 100px;
}
