.bookContainer {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 20px;
  cursor: pointer;
  place-items: center;
}
.bookImgBox {
  background-color: transparent;
  /* background-color: red; */
  position: relative;
  width: 100%;
  padding-top: 151%;
  overflow: hidden;
}
.bookContainer img {
  position: absolute;
  top: 55%;
  left: 45%;
  width: 90%; /* 컨테이너의 가로폭에 맞춰 조절 */
  height: auto; /* 원래 비율 유지 */
  transform: translate(-50%, -50%); /* 가로 세로 기준 중앙 정렬 */
  object-fit: contain; /* 이미지 비율 유지 */
  max-width: 100%;
  min-height: 100%;
  height: auto;
  border-radius: 10px;
}

.bookContainer a {
  text-align: center;
}

.bookContainer h3 {
  color: black;
  color: var(--thick-grey);
  font-size: 15px;
}
