.container {
  background-color: transparent;
  position: relative;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  top: 20px;
  /* border-radius: 50px; */
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
}

.margin {
  margin-top: 90px;
}
.divided_container h2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 78px;
  font-weight: 600;
  z-index: 100;
  /* background-color: var(--thick-grey); */
  color: var(--light-brown);
  color: var(--sand);
  border-radius: 10px;
  padding-left: 0px;
  padding-right: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;

}

.divided_container_li {
  list-style: none;
  transform: none;
  font-size: 34px;
  transition: all 0.1s ease-in-out;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  border-radius: 10px;
  border: 0.5px solid var(--thick-grey);
  background-color: transparent;
  box-shadow: black 4px 4px;
}

.divided_container_li:hover {
  background-color: var(--thick-grey);
  color: var(--light-grey);
  transform: scale(1.02);
}

.divided_container::-webkit-scrollbar {
  width: 0px;
}

/* 스크롤바 막대 설정*/
.divided_container::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 15px;
}

.divided_container::-webkit-scrollbar-track {
  background-color: transparent;
}

.divided_container {
  background-color: var(--light-grey);
  background-color: #fcfcfc;
  border: var(--thick-grey) 4px solid;
  position: relative;
  width: 50vw;
  height: 85vh;
  /* margin: 0 auto; */
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 40px;
  border-radius: 15px;
  overflow-y: scroll;
  padding-left: 7px;
  min-width: 200px;
  max-width: 700px;
  
}
.divided_container_left{
  border-right: 8px solid black;
  box-shadow: -5px -5px 10px white, inset -30px 0px 30px rgba(0, 0, 0, 0.4); 
  /* border-top-right-radius: 6%;
  border-bottom-right-radius: 7%; */
  border-radius: 31% 32% 19% 1% / 2% 4% 5% 10% ;
  transform: skewY(3deg) skewX(0deg) ;
  
}

.divided_container_right{
  border-left: 8px solid black;
  box-shadow:  5px -5px 10px white, inset 30px 0px 30px rgba(0, 0, 0, 0.4); 
  /* border-top-left-radius: 2%;
  border-bottom-left-radius: 2%; */
border-radius: 30% 41% 29% 31% / 4% 2% 3% 5% ;
transform: skewY(-3deg) skewX(0deg) ;

}

.divided_container:hover::-webkit-scrollbar-thumb {
  background: var(--thick-brown);
}

.divided_container a {
  text-decoration: none;
}

.dummy {
  margin-top: 40px;
}

.title {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%);
  font-size: 80px;
  color: black;
  font-family: "Chomsky";
  margin-top: 20px;
}



.categoryName {
  font-size: 48px;
  margin-left: 40px;
  position: relative;
  color: var(--sand);
  font-size: 78px;
  font-weight: 600;
  font-family: Georgia, "Times New Roman", Times, serif;

}

@media (max-width: 1260px) {
  .title{
    font-size: 60px;
  }
  .categoryName{
    font-size: 60px;
  }
}
@media (max-width: 950px) {
  .title{
    font-size: 40px;
    top: 100px;
  }
  .categoryName{
    font-size: 50px;
  }
}
@media (max-width: 630px) {
  .title{
    opacity: 0;
  }
  .categoryName{
    font-size: 40px;
  }
}