.container {
  background-color: transparent;
  position: relative;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  top: 20px;
  /* border-radius: 50px; */
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
}

.margin {
  margin-top: 90px;
}
.divided_container h2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 78px;
  font-weight: 600;
  z-index: 100;
  /* background-color: var(--thick-grey); */
  color: var(--light-brown);
  border-radius: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

.divided_container_li {
  list-style: none;
  transform: none;
  font-size: 34px;
  transition: all 0.1s ease-in-out;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  border-radius: 10px;
  border: 0.5px solid var(--thick-grey);
  background-color: transparent;
  box-shadow: black 4px 4px ;
}

.divided_container_li:hover {
  background-color: var(--thick-grey);
  color: var(--light-grey);
  transform: scale(1.02);
}

.divided_container::-webkit-scrollbar {
  width: 12px;
}

/* 스크롤바 막대 설정*/
.divided_container::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 15px;
}

.divided_container::-webkit-scrollbar-track {
  background-color: transparent;
}

.divided_container {
  background-color: var(--light-grey);
  border: var(--thick-grey) 1px solid;
  position: relative;
  width: 50vw;
  height: 85vh;
  /* margin: 0 auto; */
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 15px;
  overflow-y: scroll;
  padding-left: 7px;
  min-width: 200px;
  max-width: 700px;
}

.divided_container:hover::-webkit-scrollbar-thumb {
  background: var(--thick-brown);
}

.divided_container a {
  text-decoration: none;
}

.dummy {
  margin-top: 40px;
}
